.card-title{
    color: black
}
.card-img-top{
    max-width: 100%;
}
.news{
    height:auto;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.loginForm{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
.errorCard{
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
.parent{
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
.btnAdd{
 display: flex;
    justify-content: center;

}
.navbar{
    width: 100%;
    position: relative;
}
.alert{
    z-index: 200;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
.oldCard{
    float: left;
}
.btn{
    margin: 10px 10px;
}
.editTitle{
    width: 100%;
    text-align: left;
}
.editDate{
    width: 100%;
    text-align: left;
}

.editDesc{
    width: 100%;
    text-align: left;
}
.editLink{
    width: 100%;
    text-align: left;
}
.headers{
    width: 100%;
    position: center;
}
.form-control{
    text-align: center;
}
.imgEdit{
    height: 20%;
    width: 20%;
}
.edit{
    margin-left: 20%;
    margin-right: 20%;
}
